<form id="{$form.name}" name="{$form.name}">

<div style="padding-left:25px; padding-right:20px;">
{include file="system_appbuilder_btn.tpl.html"}

	<div>
		<div ><h2>{$widget.title}</h2></div>
	</div>
		
		{if $widget.description}
		<p class="input_row" style="line-height:20px;padding-bottom:20px;">		
		<span>{$widget.description}</span>
		</p>
		{else}
		<div style="height:15px;"></div>
		{/if}
		
		<table class="dashboard" >
			<tr>
				<td>
			   {foreach item=item from=$widget.menu}
				<div class="{$item->iconCSSClass}">
					<h3>{$item->objectName}</h3>
					<p>{$item->objectDescription}</p>	
							{if $item->childNodes|@count > 0}
							<ul>
							{foreach item=subitem from=$item->childNodes}													
									<li><a href="{if $subitem->url}{$subitem->url}{else}javascript:{/if}">{$subitem->objectName}</a></li>						
							{/foreach}	
							</ul>
							{/if}
				</div>
				{/foreach}
				</td>	
			</tr>			
		</table>
</div>

</form>		